/*nav*/

header {
    position: sticky;
    top: 0;
    box-shadow: 0 3px 5px #05050554;
    z-index: 999;
    border-radius: 1rem;
}

header>nav {
    background-color: gainsboro;
    padding: 1em;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav>a {
    background-color: #A69F95;
    display: inline-block;
    padding: 1rem;
    margin: 0 1em;
    border-radius: 1em;
    color: beige;
    text-decoration: none;
    /*transition: all ease 500ms;*/
    transition-duration: 250ms;
    transition-delay: 0ms;
    transition-timing-function: ease;
}

nav>a:hover {
    background-color: #BFB3A4;
    color: #D7D9D7;
}

/*feet*/
footer {
    background-color: #D7D9D7;
    padding: 1em;
    color: #050505;
    text-decoration: none;
    margin-top: 1em;
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
}

footer>section {
    justify-content: space-evenly;
    align-items: center;
}

footer>h3 {
    align-self: flex-start;
}

#sites {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;

}

#sites a {
    text-decoration: none;
    color: #262524;
    background-color: #A69F95;
    display: inline-block;
    padding: 0.1rem;
    margin: 0 0.2em;
    border-radius: 0.3em;
}

#sites :hover {
    color: silver;
    transition: all ease 100ms;
}

#site {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

#site a {
    text-decoration: none;
    color: #262524;
    background-color: #A69F95;
    display: inline-block;
    padding: 0.1rem;
    margin: 0 0.2em;
    border-radius: 0.3em;
}

#site :hover {
    color: gray;
    transition: all ease 100ms;
}

#logo {
    width: 13em;
}

/*start*/

.parent{
    position: relative;
    height: 755px;
}

.img{
    background-image: url("img/house1tree.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;    
    left: 33.5rem;
    width: 60rem;
    border-radius: 1em;
}

.p{
    border: #eeeeee;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    position: absolute;
    top: 25rem;
    left: 64rem;
    width: 550px;
    height: 200px;
    transform: translate(-50%, -50%);
    background-color: #F2F2F2;
    border-radius: 0 0 2rem 2rem;
}
.h2 {
    border: #eeeeee;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    top: 19rem;
    left: 64rem;
    width: 550px;
    height: 200px;
    transform: translate(-50%, -50%);
    background-color: #F2F2F2;
    border-radius: 2rem 2rem;
}

/*row 1*/
main {
    display: block;
    unicode-bidi: isolate;
    height: 50em;
}

.row {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2em;
    align-items: stretch;
}

.cards article img,
.card img {
    border-radius: 1rem 0 0 0;
    border: none;
}

img {
    max-width: 100%;
    border-radius: 1rem 0 1rem;
    padding: 0.5rem;
    border: solid 1px darkgrey;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.cards article h2,
.cards article p,
.card h2,
.card p {
    padding: 0 1rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.cards article,
.card {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.33);
    border: solid 1px darkgrey;
    background-color: rgb(227, 227, 227);
    border-radius: 1rem 1rem 1rem;
}

.thirds article {
    width: 30%;
}

article {
    display: block;
    unicode-bidi: isolate;
}

section {
    display: block;
    unicode-bidi: isolate;
}

* {
    box-sizing: border-box;
}

.cards .button,
.card .button {
    border-radius: 1rem;
}

#visit {
    border: black;
    background: #e2e2e2e3;
    text-align: center;
    display: block;
    padding: 1em;
    border-radius: 2em;
    box-shadow: 0 3px 5px #0000008c;
}

.promise{
font-size: larger;

}

.vision{
font-size: larger;
}
.div {
    width: 80rem;
    display: block;
    position: absolute;
    left: -29.5em;
}

.su {
    width: 90rem;
    display: flex;
    left: 3.6rem;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
}
.parent{
    display: flex;
    height: 80;
    align-items: space-between;
}