* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

header {
    position: sticky;
    top:0;
    box-shadow: 0 3px 5px #05050554;
    z-index: 999;
    border-radius: 1rem;
}

header>nav {
    background-color: gainsboro;
    padding: 1em;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav>a { 
    background-color: #A69F95;
    display: inline-block;
    padding: 1rem;
    margin: 0 1em;
    border-radius: 1em;
    color: beige;
    text-decoration: none;
    /*transition: all ease 500ms;*/
    transition-duration: 250ms;
    transition-delay: 0ms;
    transition-timing-function: ease;
}

nav>a:hover {
    background-color: #BFB3A4;
    color: #D7D9D7;
}
.parent{
    position: relative;
}
  .image1 {
    background-image: url("img/house1.webp");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5em;
    position: relative;
    top: 1rem;
    left: 38rem;
    width: 50rem;
  }
  .image2 {
    position: absolute;
    top: 15rem;
    left: 62.5rem;
    width: 500px;
    height: auto;  
  transform: translate(-50%, -50%);
    background-color: #F2F2F2;
    border-radius: 2rem;
}
h1 {
    text-align: center;
}

button > a {
    text-decoration: none;
    color:black ;
}
button{
    color: #262524;
}
/* Cascade Theory */



/*ID Selectors*/

.flex {
    display: flex;
}

#main-content {
    background-color: cornsilk;
    width: 80vw;
    margin: 0 auto;
    padding: 1em;
}

/*Class Selectors*/
.content {
    border: solid 1px black;
    padding: 1em;
    width: 75%;
}

.right-content {
    width: 25%;
    padding: 1em;
    border: dotted 1px black
}

footer {
    background-color: #D7D9D7;
    padding: 1em;
    color: #050505;
    text-decoration: none;
    
}
#sites {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin:0;
    padding:0;
}

#sites a {
    text-decoration: none;
    color: #262524;
}

#sites :hover {
    color: #b1835d;
    transition: all ease 100ms;
}
#site {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin:0;
    padding:0;
}

#site a {
    text-decoration: none;
    color: #262524;
}

#site :hover {
    color: #b1835d;
    transition: all ease 100ms;
}

.bottom-content>section {
    width: 30%;
    margin: 1em;
}

.short-abtus {
margin-left: 40rem;
}